---
/**
 * * Example use case of the CSPicture component if you need to use different images on mobile and desktop, for art direction.
 * * If you're fine with using the same image on all devices, you can use an >Image /> or <Picture /> component.
**/
// Import the component and all the images you want to use with it

import ctaImage from "@assets/images/CTA/cabinets2.jpg";
import overlaySvg from "@assets/images/CTA/cta-squares.svg";
---

<section id="cta">
  <div class="container">
    <h2 class="title">
      Get It Done
      <br />
       With Us Today
    </h2>
    <p>
      Say something catchy, informative, and encouraging to click the button to
      go to the contact page. I like to add these to the bottom of all pages.
    </p>
    <a href="/contact" class="cs-button-solid">Get an Estimate Now</a>
  </div>
  <img
    class="cta-bg-img"
    src={ctaImage.src}
    alt=""
    aria-hidden="true"
    decoding="async"
    loading="lazy"
    style="position:absolute;top:0;left:0;width:100%;height:100%;object-fit:cover;z-index:0;"
  />
</section>

<style lang="less">
  
/* Mobile */
@media only screen and (min-width: 0em) {
  #cta {
    padding: (50/16rem) 0;
    position: relative;
    overflow: hidden;

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.7;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      pointer-events: none;
    }

    .container {
      text-align: center;
      position: relative;
      z-index: 3;
    }

    .title {
      font-size: ~"min(9vw, 3rem)";
      font-weight: 900;
      line-height: 58/48;
      text-align: center;
      margin-bottom: (36/16rem);
      color: #fff;
      position: relative;
    }

    p {
      text-align: center;
      width: 96%;
      max-width: (598/16rem);
      margin: auto;
      margin-bottom: (36/16rem);
      color: #fff;
      opacity: 1;
    }
  }
}

/* Small Desktop */
@media only screen and (min-width: 64em) {
  #cta {
    padding: (168/16rem) 0;
  }
}

/* Large Desktop */
@media only screen and (min-width: 1300px) {
  #cta {
    margin-top: (100/16rem);
    position: relative;
    .container {
      width: 90.0625%;
      margin: auto;
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode {
    #cta {
      &:after {
        display: none;
      }
    }
  }
}

.cta-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  pointer-events: none;
}
</style>